<!DOCTYPE html>
<html>
	<head>
		<title>OSUThrift</title>
		<script src="https://kit.fontawesome.com/535e0fad29.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
		<link rel = "stylesheet" href = "/style.css">
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
		<script src = "/postBodyTemplate.js"></script>
		<script src = "/index.js" charset = "utf-8" defer></script>

	</head>

	<body>
		<header>
			<a href = #><h1 class = "site-title"><i class="fas fa-shopping-bag"></i> OSUThrift</h1></a>
			<div class = "nav-bar">
				<div class = "search">
			   		<input type = "text" id = "search-box" placeholder = "Search...">
					<button type = "button" id = "search-button"><i class = "fas fa-search"></i></button>
				</div>
			</div>
		</header>

			{{{body}}}

	</body>
</html>
