<main class = "post-container">
	{{#each posts}}
		{{> postBody}}
	{{/each}}
</main>

<button type = "button" id = "poster-button"><i class="fas fa-images"></i></button>

<div class = "hidden-poster">
  <div class = "poster-box">
    <div class = "poster-box-header">
      <h2 class = "post-box-caption">Create a Post</h2>
      <button type = "button" class = "close-poster-button">&times;</button>
    </div>
    <div class = "poster-box-body">
        <div class = "poster-input">
          <label for = "poster-img-input">Select a photo of the item:</label>
          <input type = "text" id = "poster-img-input">
      </div>
      <div class = "poster-input">
        <label for = "poster-item-input">Item(a short description):</label>
        <input type = "text" id = "poster-item-input">
      </div>
      <div class = "poster-input">
          <label for = "poster-comments-input">Comments:</label>
        <textarea id = "poster-comments-input"></textarea>
      </div>
      <div class = "poster-input">
        <label for = "poster-contact-input">Contact Info:</label>
        <input type = "text" id = "poster-contact-input">
      </div>
      <div class = "poster-input">
        <label for = "poster-password-input">Protect your item with a password:</label>
        <input type = "text" id = "poster-password-input">
      </div>
    </div>
    <div class = "poster-box-footer">
      <button type = "button" class = "poster-post-button">Post</button>
      <button type = "button" class = "cancel-poster-button">Cancel</button>
    </div>
  </div>
</div>
<div class = "hidden-pass-screen">
  <div class = "pass-screen-box">
    <div class = "pass-box-header">
      <h2 class = "pass-box-caption">Remove a Post</h2>
      <button type = "button" class = "close-pass-button">&times;</button>
    </div>
    <div class = "pass-box-body">
      <div class = "pass-box-input">
        <label for = "pass-box-pass">Enter password: </label>
        <input type = "text" id = "pass-box-pass">
      </div>
    </div>
    <div class = "pass-box-footer">
      <button type = "button" class = "pass-remove-button">Remove</button>
      <button type = "button" class = "pass-cancel-button">Cancel</button>
    </div>
  </div>
</div>
